body {
    background-image: linear-gradient(to left, #efa635, #ff9155, #ff817b, #ff7aa2, #f57fc6, #d790e5, #b1a1f8, #86afff, #61c3ff, #54d3fb, #69e1ed, #8eebde);
}
h1 {
    color: black;
    position: relative;
    left: 5px;
}
.font1 {
    font-family:monospace;
}
.navline {
    position: relative;
    height: 65px;
    width: 98,7;
    background-color:rgba(255, 255, 255, 0.4);
    padding: 5px;
    margin: 2px;
    border:1px solid white;
}
.mbu {
    position:relative;
    bottom: 15px;
    text-align: right;
    font-family:monospace;
}
.buttons {
    text-align: center;
}
.buttons >.rankerButton:hover{
    background: linear-gradient(rgba(0,0,0,0.08),rgba(0,0,0,0.08));
    color:black;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
.buttons >.calculatorButton:hover{
    background: linear-gradient(rgba(0,0,0,0.08),rgba(0,0,0,0.08));
    color:black;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
.buttons >.statsButton:hover{
    background: linear-gradient(rgba(0,0,0,0.08),rgba(0,0,0,0.08));
    color:black;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
.rankerButton {
    position:relative;
    top:120px;
    right:30px;
    font-size: 150%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.3),rgba(0,0,0,.3));
    color: rgba(255,255,255,0.95);
    padding: 50px 20px 50px 20px;
    border:1px solid white;
    text-shadow:1px 1px black;
}
.calculatorButton {
    position:relative;
    top:120px;
    left:0px;
    font-size: 150%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.3),rgba(0,0,0,.3));
    color: rgba(255,255,255,0.95);
    padding: 50px 20px 50px 20px;
    border:1px solid white;
    text-shadow:1px 1px black;
}
.statsButton {
    position:relative;
    top:120px;
    left:30px;
    font-size: 150%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.3),rgba(0,0,0,.3));
    color: rgba(255,255,255,0.95);
    padding: 50px 20px 50px 20px;
    border:1px solid white;
    text-shadow:1px 1px black;
}
.statsp1 {
    font-family: monospace;
    font-size: large;
    position: relative;
    top:20px;
    left:15px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
.label1 {
    font-family: monospace;
    position: relative;
    top:20px;
    left:25px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.01),rgba(0,0,0,.01));
    color: #000000;
    padding: 5px 10px 5px 10px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
#wcaid {
    position: relative;
    top:20px;
    left:28px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
    color: rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    border:0.6px solid white;
}
.submit1 {position:relative;
    top:20px;
    left:31px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.3),rgba(0,0,0,.3));
    color: rgb(255, 255, 255);
    padding: 5px 10px 5px 10px;
    border:0.6px solid white;
    text-shadow:1px 1px black;
}
.submit1:hover{
    background: linear-gradient(rgba(0,0,0,0.08),rgba(0,0,0,0.08));
}
.calcp1 {
    font-family: monospace;
    font-size: large;
    position: relative;
    top:20px;
    left:15px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
.rankerp1 {
    font-family: monospace;
    font-size: large;
    position: relative;
    top:20px;
    left:15px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}

#time1 {
    position: relative;
    top:50px;
    left:28px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
    color: rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    border:0.6px solid white;
}
.time1label {
    font-family: monospace;
    position: relative;
    top:50px;
    left:25px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.01),rgba(0,0,0,.01));
    color: #000000;
    padding: 5px 0px 5px 25px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}

#time2 {
    position: relative;
    top:50px;
    left:28px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
    color: rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    border:0.6px solid white;
}
.time2label {
    font-family: monospace;
    position: relative;
    top:50px;
    left:25px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.01),rgba(0,0,0,.01));
    color: #000000;
    padding: 5px 0px 5px 25px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}

#time3 {
    position: relative;
    top:50px;
    left:28px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
    color: rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    border:0.6px solid white;
}
.time3label {
    font-family: monospace;
    position: relative;
    top:50px;
    left:25px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.01),rgba(0,0,0,.01));
    color: #000000;
    padding: 5px 0px 5px 25px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
#time4 {
    position: relative;
    top:50px;
    left:28px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
    color: rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    border:0.6px solid white;
}
.time4label {
    font-family: monospace;
    position: relative;
    top:50px;
    left:25px;
    font-size: 100%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.01),rgba(0,0,0,.01));
    color: #000000;
    padding: 5px 0px 5px 25px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
.eventPickerLabel {
    font-family: monospace;
    position: relative;
    top:50px;
    left:25px;
    font-size: 110%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(0,0,0,.01),rgba(0,0,0,.01));
    color: #000000;
    padding: 5px 0px 5px 25px;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}
.eventPicker {
    position: relative;
    top:50px;
    left:28px;
    font-size: 110%;
    font-family: monospace;
    text-decoration: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
    color: rgb(0,0,0);
    padding: 5px 10px 5px 10px;
    border:0.6px solid white;
    text-shadow: 0.8px 0.8px rgba(255,255,255,0.5);
}